@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto;
  }
}

.fake-ratio {
  aspect-ratio: 1920/1080;
  margin-bottom: 28px;
  max-width: calc(100vw - 25px * 2);
  max-height: calc(100vh - 80px - 28px - 47px);
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 28px);
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}

.video-height {
  max-height: calc(100vh - 200px);
}
